@model cw_12.AbstractModels.PatMed

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PatMed</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pat.FirstName)
        </dt>
        <dd class="col-sm-20">
            @Html.DisplayFor(model => model.pat.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pat.LastName)
        </dt>
        <dd class="col-sm-20">
            @Html.DisplayFor(model => model.pat.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pat.Birthdate)
        </dt>
        <dd class="col-sm-20">
            @Html.DisplayFor(model => model.pat.Birthdate)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.med.ElementAt(0).IdMedicament))
            </th>
            <th>
                @Html.DisplayNameFor(model => model.med.ElementAt(0).Name))
            </th>
            <th>
                @Html.DisplayNameFor(model => model.med.ElementAt(0).Type))
            </th>
            <th>
                @Html.DisplayNameFor(model => model.med.ElementAt(0).Description))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.med)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMedicament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.pat.IdPatient">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
